body{
  margin: 0;
}
.button{
  cursor: pointer;
}
.frame{
  height: 700px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: auto;
  background-color: black;
}
.card{
  height: 24%;
  width: 24%;
  border-style: solid;
  border-width: 2px;
  border-color: DarkCyan;
  margin: 1px;
}
.card[data-card='0'],[data-active='0'] {
  background-color: cyan;
}
.card[data-card='1'],[data-active='0'] {
  background-color: cyan;
}
.card[data-card='2'],[data-active='0'] {
  background-color: cyan;
}
.card[data-card='3'],[data-active='0'] {
  background-color: cyan;
}
.card[data-card='4'],[data-active='0'] {
  background-color: cyan;
}
.card[data-card='5'],[data-active='0'] {
  background-color: cyan;
}
.card[data-card='6'],[data-active='0'] {
  background-color: cyan;
}
.card[data-card='7'],[data-active='0'] {
  background-color: cyan;
}
