body{
  margin: 0;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../resources/archer_background.jpg");
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
}
.frame{
  height: 700px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 3%;
  margin: 1%;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  background-color: #007272;
  color: black;
}
.card{
  height: 23%;
  width: 23%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin: 5px;
  border-radius: 10%;
}
.card[data-active="0"]{
  background-color: #007272;
  opacity: 0.89;
}
.card[data-card='8'][data-active='1'] {
  background-image: url("../resources/archer_archer.jpg");
  background-size: 100% 100%;
}
.card[data-card='1'][data-active='1'] {
  background-image: url("../resources/archer_lana.jpg");
  background-size: 100% 100%;
}
.card[data-card='2'][data-active='1'] {
  background-image: url("../resources/archer_cyril.jpg");
  background-size: 100% 100%;
}
.card[data-card='3'][data-active='1'] {
  background-image: url("../resources/archer_woodhouse.jpg");
  background-size: 100% 100%;
}
.card[data-card='4'][data-active='1'] {
  background-image: url("../resources/archer_pam.jpg");
  background-size: 100% 100%;
}
.card[data-card='5'][data-active='1'] {
  background-image: url("../resources/archer_krieger.jpg");
  background-size: 100% 100%;
}
.card[data-card='6'][data-active='1'] {
  background-image: url("../resources/archer_malory.jpeg");
  background-size: 100% 100%;
}
.card[data-card='7'][data-active='1'] {
  background-image: url("../resources/archer_cheryl.jpg");
  background-size: 100% 100%;
}
